@font-face {
    font-family: 'Montserrat' ;
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf');
}
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* estilos generales*/
body {
    font-family: 'Montserrat', Roboto, sans-serif;
    background-color: #d3d4d0;
    text-align: center;
    font-size: 16px;
    
}

/* estilos de header */
.container{
    background-color: #4e5242;
    

}
.header{
    background-color: #4e5242;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    border-bottom: 1px solid black;  
}
.menu{
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #4e5242;

}

.logo{
    width: 10%;
}

.menu .navbar ul li{
    display: flex;
    display: inline;
}
.menu .navbar ul li a{
    font-size: 16px;
    padding: 15px;
    color: #d3d4d0;
    text-decoration: none;
}
.menu .navbar ul li a:hover{
    color: black;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);

}
#menu {
    display: none;
}
.menu-icono{
    width: 25px;
}

.menu label {
    display: none;
    cursor: pointer;
}
   
/* estilos de main */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

h1{
    color: #d3d4d0;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 2px 2px 30px black;
    margin-bottom: 30px;
}

p {
    margin: 0px 100px;
    padding: 0px 150px;
    font-size: 20px;
    text-shadow: 2px 2px 50px black;
    text-align: center;
    margin-bottom: 35px;
}

a{
    font-weight: 500;
}

img{
    width: 100%;
}

.background-1{
    min-height: 90vh;
    background: url('../img/TSLjuliojoao.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

main div div a{
    list-style: none;
    text-decoration: none;

}
.portada{

    color: #d3d4d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: #4e5242;
    color: #d3d4d0;
    margin: 10px;
    padding: 10px 35px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.boton:hover{
    background-color: #747C6C;
}

.boton a{
    color: #d3d4d0;
    font-weight: 500;
    font-size: 15px;
}

.boton a:hover{
    color: black;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

/* estilos de footer */
footer{
    padding: 10px;
    background-color: #4e5242;
    color: #d3d4d0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul{
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
}

footer ul li a{
    color: #d3d4d0;
}
footer ul li a:hover{
    color: black;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

footer p{
    padding: 0;
    margin: 0;
    font-size: 15px;
}

/* Page Sobre nos */


.background-2{
    min-height: 70vh;
    background: url('../img/theStrengthlab.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* main */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.background-2 h1 {
    margin: 0 0 0 100px ;
}


/* section */

.section-sb{
    position: relative;
    margin: 0 50px 50px;
    background-color: ;
    box-shadow: 1px 1px 15px rgb(52, 50, 50);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.section-sb .sb-1{
    background-color: black;
    border-radius: 50px;
    box-shadow: 1px 1px 50px rgb(52, 50, 50);

    display: flex;
    
    justify-content: center; 
    align-items: center; 
}
.sb-1 div{
    background-color: #4e5242;
    margin: 0;
    padding: 40px;
    border-radius: 50px;
}
.sb-1 h2{
    background-color: #747C6C;
    color: aliceblue;
    margin: 0;
    padding: 10px;
}
.sb-1, p{
    font-weight: 500;
    color: #d3d4d0;
    margin: 0px;
    padding: 10px; 

}
.sb-1 img{
    width: 50%;
    border-radius: 50px;
}
.img-none{
    display: none;
}




@media(max-width:990px){

    /*NAVBAR*/
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;

    }
    
    .menu .navbar {
        position: absolute;
        top: 66px;
        left: 0;
        right: 0;
        background-color: #4e5242;
        border-radius: 30px;
        display: none;
    }

    .navbar ul{
        display: flex;
        flex-direction: column;
    }

    .menu .navbar ul li{
        width: 100%;
        padding: 20px;
        border-radius: 30px;
       
    }
    .menu .navbar ul li:hover{
        background-color: #747C6C;

    }

    #menu:checked ~ .navbar{
        display: initial;
    }


    /* MAIN */


    Main{
        padding: 30px;
    }
    .background-1, .background-2{
        min-height: 50vh;
    
    }

    h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    p{
        font-size: 18px;
        padding: 0;
        margin: 30px 0px;

    }

    /* PAGINA-SOBRE NOS */
    .section-sb{
        display: flex;
        box-shadow: none;
    }
    .section-sb .sb-1{
        display: flex;
        flex-direction: column ;
    }
    .sb-1 img{
        width: 35vh;
    }
    .img-none-2{
        display: none;
    }
    .img-none{
        display: initial;
    }
    


    
}

@media screen and (max-width: 600px){


    /* PAGINA-SOBRE NOS */
    .background-2 h1{
        margin: 0;
    }
    .section-sb{
    
        margin: auto;
    }
    .sb-1{
        padding: 0;
        margin: 0;
    }
    .textos-sb{
        font-size: 16px;
        padding: 0;
    }
    .sb-1 img{
        width: 30vh;
    }
}




