@font-face {
    font-family: 'Montserrat' ;
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf');
}
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales*/
body {
    background-color: #d3d4d0;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat';
    display: block;
}


/* estilos de header */

header{
  background-color: #4e5242;
  color: #d3d4d0;
  margin: 0px;
  padding: 0px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    width: 10%;
}

.nav-lista{
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
       
}
.nav-lista li a{
    text-decoration: none;
    color: #d3d4d0;
}

   
/* estilos de main */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
.background-1{
    height: 800px;
    background: url('../img/TSLjuliojoao.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    

}

main div div a{
    list-style: none;
    text-decoration: none;

}

img{
    width: 100%;
}

.portada{

    color: #d3d4d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    padding: 0px 200px;
    font-size: 20px;
    text-align: center;

}
div div .boton{

    background-color: #4e5242;
    color: #d3d4d0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

    display: inline-block;
    justify-content: center;
    align-items: center;

}
div div .boton a{
    color: #d3d4d0;
}

/* estilos de footer */
footer{
    padding: 10px;
    background-color: #4e5242;
    color: #d3d4d0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}

footer ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;  
}

footer ul li a{

    text-decoration: none;
    color: #d3d4d0;
}

footer p{
    font-size: 16px;
}




