@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf');
}
//*RESET*
@import "components/reset";

//Componentes, mixins y variables 
@import "utilities/var";
@import "utilities/mixins";

//Header con el navbar
@import "components/header";

//pages
@import "pages/index";
@import "pages/sobre-nos";
@import "pages/acompanhamento-online";
@import "pages/popcast";
@import "pages/contato";

//footer
@import "components/footer";

//Estilo general
body {
    font-family: 'Montserrat';
    background-color: $white-color;
    text-align: center;
    font-size: 16px;
}



