body{
    .background-3{
        display: flex;
        align-items: center;
        min-height: 70vh;
        background: url('../img/TSL-acompanhamento-online2.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        h1{
            padding: 20px;
            background-color: $main-color;
            @include h1;    
        }
    }
    .acompanhamento-online{
        background-color: #081217;
        padding: 50px;
        display: flex;
        
        .modalidade{
            width: 40%;
            padding: 50px;
            background-color: #081217;
            color: white;
            padding: 10px; 
            display: flex;
            flex-direction: column;
            align-items: center; 
            h3{
                background-color: $secondary-color;
                color: $white-color;
                padding: 5px 20px;

                }
            ul{
                li{
                    color: $white-color;
                    font-weight: 500;
                    margin: 0;
                    padding: 10px 0;
                }
            }
        }
        .section-bt{
            width: 100%;
            padding: 10px;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.1em;
            
            .accordion{
                
                .accordion-item{
                    
                    .accordion-header{
                       
                    }
                    .accordion-button{
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 20px;
                        letter-spacing: 0.1em;
                        background-color: $secondary-color;
                        color: $white-color;
                        box-shadow: none;
                    }
                    .accordion-collapse, .collapse, .show{                    
                        .accordion-body{
                            
                            color: black;
    
                        }
    
                    }
                }
            }
        }
    }
    
    .contenedor-carta{
        background: url('../img/repeated-square-dark.png');
        background-repeat: repeat;
        margin: 0;
        padding: 20px;
        text-align: center;
        @include flex;
        justify-content: space-around;
        .carta{
            width: 30%;
            margin: margin 20px;
            display: inline-block;
            justify-content: space-around;
            align-items: center;
            .card-img-top{

            }
            .carta-cuerpo{
                padding: 20px;
                h4{
                    text-transform: uppercase;

                }
                p{
                    text-transform: uppercase;

                }
                .boton{
                    padding: 20px;
                    background-color: $main-color;
                    color: $white-color;
                    text-transform: uppercase;
                }
                .boton:hover{
                    background-color: #747C6C;
                    color: black;                    
                }                
            }
        }
    }
    .footer{
        ul{
            li{
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
@media only screen and (max-width:960px){
    body{
        .background-3 {
            min-height: 50vh;
            h1{
                font-size: 30px;
                margin: 100px 0 0 20px;
            }
        }
        .acompanhamento-online{
            padding: 50px 10px;
        }

    }
}

@media only screen and (max-width: 600px){
    body{
        //PAGINA-ACOMPANHAMENTO ONLINE
        .background-3{
            h1{
                margin:200px 0 0 20px;
                font-size: 20px;
            }
        }
        .section-bt{
            margin: 0;
            padding: 20px 0;
        }
        .acompanhamento-online{
            margin: 0;
            .modalidade{
                display: flex;
                flex-direction: column;
                h2{
                    margin: 0 0 10px 0;
                    padding: 15px;

                }
            }
            
        }
        .contenedor-carta{
            display: flex;
            flex-direction: column;
        }
    }
}