body{
    .background-5{
        display: flex;
        align-items: center;

        min-height: 70vh;
        background: url('../img/DSC05971.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        h1{
            padding: 20px;
            background-color: $main-color;
            @include h1;    
        }
    }
    .container-inf{
        background-color: #081217;
        padding:20px;
        width: 100%;
        display:flex;
        justify-content: space-around;
        .box-info{
            width: 40%;
            display:flex;
            flex-direction: column;
            gap:50px;
            h2{
                color: $white-color;
                padding: 5px;
                background-color: $secondary-color;
                margin: 0 0 20px 0;
                text-transform: uppercase;
                text-align: left;
                letter-spacing: 0.1em;
            }
            .data{
                display: flex;
                flex-direction: column;
                gap:25px;
                p{
                    font-size: 1rem;
                    i{
                        color:$white-color;
                        margin-right: 10px;
                        font-size:25px;
                    }
                    a{
                        text-decoration: none;
                        color: $white-color;
                    }
                    a:hover{
                        color: $secondary-color;
                    }

                }
            }
        }
        form{
            width: 50%;
            display:flex;
            flex-direction: column;
            text-align: center;
            gap:15px;
            .input-box{
                position:relative;
                input{
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;
                    outline:none;
                    background: rgba(255 255 255 / .1);
                    border:3px solid transparent;
                    letter-spacing: 1px;
                    transition:.3s;
                    color:$white-color;
                }
                input::placeholder, textarea::placeholder{
                    color:#a3a3a3;
                }
                input:focus::placeholder, textarea:focus::placeholder{
                    color:transparent;
                }
                input:focus, textarea:focus{
                    border-bottom:3px solid $main-color;
                    animation: shake .2s;
                }

                textarea{
                    width: 100%;
                    height: 130px;
                    padding: 10px;
                    background: rgba(255 255 255 / .1);
                    border:3px solid transparent;
                    letter-spacing: 1px;
                    outline: none;
                    transition:.3s;
                    color:$white-color;
                    letter-spacing: 1.5px;

                }
                i{
                    position:absolute;
                    top:50%;
                    transform: translateY(-50%);
                    right: 10px;
                    color:rgba(255 255 255 / .3);
                    transition: .3s;
                }
                input:focus ~ i{
                    color: $white-color;
                }
            }
            button{
                width: 100%;
                padding: 10px;
                outline: none;
                background: $secondary-color;
                color:#fff;
                border:none;
                transition: .1s;
                cursor: pointer;
                font-size: 1rem;
            }
            button:hover{
                background: black;
            }
            .success{
                padding: 20px;
                color: green;
                font-weight: 700;
                border: 2px solid green;
                background-color: $white-color;

            }
        }
        
    }
    
}


@media only screen and (max-width:960px){
    body{
        .background-5{
            min-height: 50vh;
            h1{
                color: $white-color;
                margin: 0 0 0 10px;
            }
        }
        .container-inf {
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:50px;
            .box-info{
                width: 80%;
                gap:5px;
                h2{
                    margin: 10px 0;
                    font-size: 20px;
                }
                .data{
                    margin: 0;
                    padding: 0;
                    gap: 5px;
                }        
            }
            form{
                width: 80%;
            }
        }
        
        
    }
}
@media only screen and (max-width: 600px){
    body{
        //PAGINA CONTATO
        .background-5{
            h1{
                margin: 100px 0 0 50px;
                font-size: 20px;
            }
        }
        .container-inf{
            .box-info{
                width: 100%;
                h2{
                    font-size: 16px;
                }
                .data{
                    p{
                        font-size: 15px;
                    }

                }
            }
            form{
                width: 100%;

            }
        }
        
    }
}