//INDEX
body{
    .background-1{
        padding-top: 150px;
        @include flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        min-height: 90vh;
        background: url('../img/TSLjuliojoao.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        
        .portada{
            margin: 3rem;
            padding: 100px 0px;
            color: $white-color;
            @include flex-column-center;
            text-align: center;
            border-top: 3px solid $white-color;
            border-bottom: 3px solid #d3d4d0;
            h1{
                color: $white-color;
                padding: 0px;
                text-transform: uppercase;
                font-size: 36px;
                font-weight: 400;
                letter-spacing: 2px;
                text-shadow: 2px 2px 30px black;
            }
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            .boton{
                background-color: $main-color;
                color: $white-color;
                margin: 10px;
                padding: 10px 20px;
                border-radius: 20px;
                box-shadow: 2px 2px 10px rgb(0, 0, 0);
                
                text-transform: uppercase;
                a{
                    list-style: none;
                    text-decoration: none;
                    color: $white-color;
                    font-weight: 500;
                    font-size: 14px;
    
                }
               
            }
            .boton:hover{
                color: black;
                text-shadow: 2px 2px 10px rgb(0, 0, 0);
                background-color: $secondary-color; 
            }
        }
        
    }
    .home{
        color: $white-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        p{
            margin: 100px;
        }
        
    }
}

@media only screen and (max-width:960px){
    body{
        //INDEX
        .background-1{
            padding: 30px;
            min-height: 50vh;
            .portada{
                
                h1{
                    font-size: 25px;
                    margin: 30px 0;
                }
                div{
                    p{
                        margin: 0;
                        padding: 0px 100px;
                        margin-bottom: 35px;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 600px){
body{
    .background-1{
        min-height: 10vh;
        div{
            display: flex;
            flex-direction: column;
            .boton{
                margin: 10px 0;

                a{
                    margin: 0;
                    padding: 0;
                }
            }
        }

    }
   .home{
        p{
            font-size: 16px;
            margin: 50px;

        }
   }
    }
}
