.sobre-nos{
    .background-2{
        display: flex;
        align-items: center;

        min-height: 70vh;
        background: url('../img/theStrengthlab.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        h1{
            @include h1;
        }

    }

    .section-sb{
        position: relative;
        margin: 0 50px 50px;
        box-shadow: 1px 1px 15px rgb(52, 50, 50);
        padding: 10px;
        @include flex-column-center;
        gap: 100px;
        .sb-1{
            padding: 10px;
            background-color: black;
            border-radius: 50px;
            box-shadow: 1px 1px 50px rgb(52, 50, 50);
            @include flex;

            img{
                width: 50%;
                border-radius: 50px

            }
        
            .textos-sb{
                background-color: $main-color;
                margin: 0;
                padding: 40px;
                border-radius: 50px;
                h2{
                    background-color: $secondary-color;
                    color: aliceblue;
                    margin: 50px;
                    padding: 10px;
                }
                p{
                    font-weight: 500;
                    color: #d3d4d0;
                    margin: 0px;
                    padding: 10px;
    
                }
            }
        }

        .sb-1{
            .img-none{
                display: none;
    
            }

        }
    }  
}