.sobre-nos{
    .background-2{
        display: flex;
        align-items: center;

        min-height: 70vh;
        background: url('../img/theStrengthlab.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        h1{
            padding: 20px;
            background-color: $main-color;
            @include h1;
        }

    }

    .section-sb{
        position: relative;
        margin: 0 50px 50px;
        padding: 10px;
        @include flex-column-center;
        gap: 100px;
        
        .sb-1{
            padding: 10px;
            background-color: black;
            box-shadow: 1px 1px 50px rgb(52, 50, 50);
            @include flex;

            img{
                width: 50%;
                

            }
            .img-none{
                display: none;  
            }
        
            .textos-sb{
                background-color: $main-color;
                margin: 0;
                padding: 30px;

                h2{
                    text-align: left;
                    background-color: $secondary-color;
                    color: black;
                    margin: 50px;
                    padding: 20px;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;

                    a{
                        margin:0 10px 0 0px;
                        text-decoration: none;
                        color: black;
                        i{
                            font-size: 30px;
                        }
                    }
                    a:hover{
                        color: $white-color;
                    }
                }
                p{
                    color: $white-color;
                    margin: 0px;
                    padding: 10px;
                    font-size: 20px;
                    letter-spacing: 0.1em;    
                }
            }
        }
    }  
}



@media only screen and (max-width:960px){
    .sobre-nos{
        //SOBRE NOS
        .background-2{
            min-height: 50vh;
            h1{
                color: $white-color;
                margin: 100px 0 0 50px;
            }
        }
        .section-sb{
            display: flex; 
            .sb-1{
                display: flex;
                flex-direction: column ;
                img{
                    width: 35vh;
                }
               

            }
            .sb-1{
                .img-none{
                    display: initial;
                    width: 35vh;
                }
                .img-none-2{
                    display: none;
                    width: 35vh;
                }
            }

        }
    }
}

@media only screen and (max-width: 600px){
    .sobre-nos{
        //SOBRE NOS
        .background-2{
            h1{
                margin:100px 0 0 50px;
                font-size: 20px;
            }

        }
        .section-sb{
            margin: 10px;
            gap: 50px;
            .textos-sb{
                margin: 0;
                padding: 0;
                h2{
                    font-size: 20px;
                }
                p{
                    margin: 0;
                    padding: 5px;
                    font-size: 15px;
                }
            }
        }
        
    }
}