@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-sbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin h1{
    margin: 100px 0 0 100px;
    color: $white-color;
    text-align: left;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 2px 2px 30px black;
}
@mixin parrafos{
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: justify;

}
