body{
    footer{
        padding: 10px;
        background-color: #4e5242;
        color: #d3d4d0;
        @include flex-column-center;
        ul{
            margin-bottom: 20px;
            display: flex;
            gap: 30px;
            li{ 

                a{
                    color: $white-color ;
                    i{
                        font-size: 30px;
                    }

                }
                a:hover{
                    color: black;
                }
            }
        }

        p{
            padding: 0;
            margin: 0;
            font-size: 15px;

        }
    }
}