body{
    footer{ 
        padding: 30px;
        background-color: $main-color;
        color: $white-color;
        @include flex-column-center;
        ul{
            margin-bottom: 30px;
            display: flex;
            gap: 40px;
            li{ 

                a{
                    color: $white-color ;
                    i{
                        font-size: 30px;
                    }

                }
                a:hover{
                    color: black;
                }
            }
        }
        p{
            padding: 0;
            margin: 0;
            font-size: 15px;

        }
        .web-dev{
            margin-top: 10px;
            font-size: 10px;
        }
    }
}