body{
    .header{
            background-color: #4e5242;
            text-align: center; 
            border-bottom: 1px solid black;
            @include flex;

        .menu{
            padding: 0;
            margin: 0;
            
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 1000;
            @include flex-center-sbetween;

            .logo{ 
                width: 10%;
                background-color: $main-color;
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    
                }
            }

            #menu{
                display: none;   
            }

            label{
                display: none;
                cursor: pointer;

                .menu-icono{
                    width: 25px;
                }
            }
            .navbar{
                padding: 20px;
                
                display: flex;
                ul{
                    width: 100%;
                    background-color: $main-color;
                    padding: 0;
                    margin: 0;
                    li{
                        text-transform: uppercase;
                        display: flex;
                        display: inline;
                        a{
                            font-size: 15px;
                            padding: 10px;
                            color: $white-color;
                            text-decoration: none;
                        }
                        a:hover{
                            background-color: $secondary-color;
                            color: black;
                            
                            border-radius: 5px;
                                
                        }
                            
                    }
                }
            
            }
        }
    }
}

@media only screen and (max-width:960px){
body{
    .header{
        border-bottom: 1px solid black;
            .menu{
                padding: 20px;
                .logo{             
                    width: 15%;
                    img{
                        width: 100%;
                        
                    }
                }
                label{
                    display: initial; 
                }
                .navbar{
                    position: absolute;
                    top: 80px;
                    left: 0;
                    right: 0;
                    background-color: $main-color;
                    border-radius: 0 0 30px 30px;
                    display: none;
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            width: 100%;
                            padding: 20px;
                            border-radius: 30px;
                            a{
                                width: 100%;
                                text-transform: uppercase;
                                padding: 20px;
                                margin: 0;                               
                            }
                            a:hover{
                                background-color: $secondary-color;
                            }
                        }
                        
                    }
                }
                #menu:checked ~ .navbar{
                    display: initial;
                }
                
            }
        
        }
    }
}
@media only screen and (max-width:600px){
    body{
    .header{
        border-bottom: 1px solid black;
            .menu{
                .logo{             
                    width: 20%;
                    img{
                        width: 100%;
                        
                    }
                }
                .navbar{
                    top: 70px;
                    
                }                                
            }        
        }
    }
}